@import url("font.css");
header {
   position: relative;
   width: 100%;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 5%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'DINosaur', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'DINosaur', serif;
   color: #A4A4A4;
   margin: 0 auto;
   width: 65%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span {
   color: #fff;
}
header .banner-text h3 a {
   color: #ff5353;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.three.columns { 
   width: 22%;
}

header .logo {
   margin: 0;
}

header .logo img {
   object-fit: contain;
   width: 100%;
   margin-top: 10px;
   height: 100%;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'DINosaur', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent; }
ul#nav li.current a { color: #F06000; }

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* nav-wrap */
#nav-wrap {
   font: 100% 'DINosaur', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   display: flex;
   z-index: 100;
   position: fixed;
   left: 0;
   bottom: 87%;
   margin-top: 2%;
   top: -5%;
   background-color: #624592;
   justify-content: center;
   align-items: center;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 1395px) {

   /* mobile navigation
   -------------------------------------------------------------------- */

   header {
      height : 265px !important;
   }


   #nav-wrap {
      font: 12px 'DINosaur', sans-serif;
      background: #624592  !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      display: flex;
      top: 0;
      right: 0;
      margin-top: 0%;
   }
   #nav-wrap > a {
      width: 48px;
      height: 48px;
      text-align: left;
      background-color: #624592;
      position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }

   #nav-wrap > a:before,
   #nav-wrap > a:after {
      position: absolute;
      border: 2px solid #fff;
      top: 35%;
      left: 25%;
      right: 25%;
      content: '';
   }
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
   #nav-wrap:not( :target ) > a:first-of-type,
   #nav-wrap:target > a:last-of-type  {
      display: block;
   }

   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
      display: none;
      clear: both;
      width: auto; 
      float: right;     
      position: relative;
      top: 12px;
      right: 0;
   }

   /* display menu panels */
   #nav-wrap:target > ul#nav  {
      display: block;
      padding: 0px 20px 48px 20px;
      background: #372752;
      margin: 4% 12%;
      clear: both;
      position: fixed;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   } 
}
@media only screen and (max-width: 425px) {
   header{
      height : 125px !important;
   }
}

@media only screen and (min-width: 1980px) {
   #nav-wrap{
      font-size: 25px;
      font-family: 'DINosaur';
   }
}

   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'DINosaur', sans-serif; }
   header .banner-text h3 {
      font: 16px/1.9em 'DINosaur', serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   header .social li { margin: 0 10px; }

    /* scrolldown link */
   header .scrolldown { display: none; }
