@import url("font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #573E81;

}

p .coordination-g-n {
    font-size: 16px;
    text-align: left;
    font-family: "DINosaur";
    color: white;
}

select {
    font-size: 0.9rem;
    font-family: 'DINosaur';
    padding: 3px 30px;
}

.smallerText {
    font-size: 16px;
    font-family: "DINosaur";
    font-weight: 300;
    line-height: normal;
}

.frame {
    width: 100%;
    padding-bottom: 10%;
}

.BodyElement {
    height: auto;
    padding-top: calc(0vh + 6.5em);
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.Infosupp {
    background-color: #624592;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    border-radius: 25px;
    padding: 2%;
    width: 100%;
}

.colored-boxMentions { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding-bottom: 50px;
    width: 100%; 
    box-sizing: border-box;
    flex-wrap: wrap;
}
 
.section-titleinfo { 
    display: block;
    color: #372752;
    text-align: center;
    font-family: "DINosaur";
    font-size: 64px; 
    white-space: normal;
    font-style: normal;
    font-weight: 900;
    word-break: break-word;
    line-height: 1.2;
}    

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-containerInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #624592;
    border-radius: 5px;
    border-radius: 25px;
}

.titleGroup {
    color: #FFF;
    font-family: "DINosaur";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cnam-enjmin-siret {
    font-family: "DINosaur";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text-wrapper-12 {
    color: #FFF;
    font-family: "DINosaur";
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.graytextdiv {
    width: 100%;
}

.text-wrapper-13 {
    color: #D1C8DF;
    font-family: "DINosaur";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}

.contact-section {
    width: 100%;
    padding: 10px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}


.colored-box {
    padding-left: 30px;
    padding-top: 50px;
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
}


.rectangle {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 5px;
    border-radius: 25px;
    background: #624592;
    color: #FFF;
    font-family: "DINosaur";
    font-size: 19.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    height: auto;
    background-color: #372752;
    width: 100%
}
 
.footerElement {
    padding: 20px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.upper-container {
    display: flex;
    justify-content: space-between;
    gap : 2%;
    flex-wrap: wrap; 
}
.footerElement-section {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    margin-bottom: 20px; 
}
.reseaux {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px;
}
 
.element-enjmin {
    width: 150px;
    height: 60px;
    object-fit: cover;
}
 
.reseaux img {
    width: 65px;
    height: 65px;
}
.Organisateurs {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 2px; 
}
 
.so-games-blanc-plan {
    width: 105px;
    height: 70px;
    object-fit:cover;
}

 
.info-title {
    color: #FFF;
    font-family: "DINosaur";
    font-size: 19.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 10px;
}
 
.footerElementMentions-section {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    gap: 10px;
}
.iconSpawn {
    display: flex;
    justify-content: center; 
}


 
@media (max-width: 1024px) {
    .upper-container {
        flex-direction: column; /* Empile les sections verticalement */
        align-items: center; /* Centre les sections horizontalement */
    }
 
    .footerElement-section {
        width: 100%; /* Chaque section prend toute la largeur */
        margin-bottom: 20px; /* Espacement entre les sections */
    }
 
    .info-title {
        text-align: center; /* Centre les titres */
        margin-bottom: 10px; /* Espacement entre titre et contenu */
    }
 
    .reseaux, .Organisateurs {
        display: flex;
        flex-wrap: wrap; /* Permet aux images de passer à la ligne si nécessaire */
        justify-content: center; /* Centre les images */
        gap: 10px; /* Espacement entre les images */
    }
}


 